{% extends 'admin/change_form.html' %}
{% load static is_wiki has_group has_wiki_entry%}
{% block submit_buttons_bottom %}

	{% if request.user.is_superuser and request.path|is_wiki %}
	<div class="submit-row">
		<input type="submit" value='Accept' name="_accept" />
		<input type="submit" value='Reject' name="_reject" />
	</div>
	{% elif request.path|has_wiki_entry %}
		<div class="submit-row">
			<h2 style="text-align:left;float:left;">This already has a entry suggestion waiting to be reviewed.</h2>
			<input style="text-align:right;float:right;" type=button value='Back' onClick="javascript:history.go(-1);">
		</div>
	{% else %}
		{{ block.super }}
	{% endif %}

{% endblock %}
